{
  "env": {
    "development": {
      "presets": [
        "es2015",
        "stage-0",
        "env",
        "minify"
      ],
      "plugins": [
        "add-module-exports"
      ]
    },
    "production": {
      "presets": [
        "es2015",
        "stage-0",
        "env",
        "minify"
      ],
      "plugins": [
        "add-module-exports"
      ]
    }
  }
}